<div class="skill-labels grid grid-4col">
    {{!-- There has to be a better way of repeating this group four times, but for now, this is how it is --}}
    <div class="skill-label flexrow flex-group-center">
        <u>{{localize "SKILLS.name"}}</u>
        <u>{{localize "SKILLS.total"}}</u>
        <u>{{localize "SKILLS.ranks"}}</u>
    </div>
    <div class="skill-label flexrow flex-group-center">
        <u>{{localize "SKILLS.name"}}</u>
        <u>{{localize "SKILLS.total"}}</u>
        <u>{{localize "SKILLS.ranks"}}</u>
    </div>
    <div class="skill-label flexrow flex-group-center">
        <u>{{localize "SKILLS.name"}}</u>
        <u>{{localize "SKILLS.total"}}</u>
        <u>{{localize "SKILLS.ranks"}}</u>
    </div>
    <div class="skill-label flexrow flex-group-center">
        <u>{{localize "SKILLS.name"}}</u>
        <u>{{localize "SKILLS.total"}}</u>
        <u>{{localize "SKILLS.ranks"}}</u>
    </div>
</div>
<div class="skills grid grid-4col">
    {{#each system.skills as |skill key|}}
        <div class="skill flexrow flex-group-center">
            <label for="system.skills.{{key}}.value" class="resource-label">{{skill.label}}</label>
            <span class="skill-value">{{numberFormat skill.value decimals=0 sign=false}}</span>
            <input type="text" name="system.skills.{{key}}.ranks" value="{{skill.ranks}}" data-dtype="Number"/>
        </div>
    {{/each}}
</div>
