<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Header: basic info and  main attributes --}}
    {{> "systems/metzmatan/templates/actor/parts/actor-character-header.hbs"}}

    {{!-- Navigation tab declaration --}}
    <nav class="sheet-tabs tabs flexshrink" data-group="primary">
        <a class="item" data-tab="skills">{{localize "DOCUMENT.skills"}}</a>
        <a class="item" data-tab="features">{{localize "DOCUMENT.features"}}</a>
        <a class="item" data-tab="spells">{{localize "DOCUMENT.spells"}}</a>
        <a class="item" data-tab="items">{{localize "DOCUMENT.items"}}</a>
        <a class="item" data-tab="effects">{{localize "DOCUMENT.effects"}}</a>
    </nav>

    {{!-- Main body: contains tabs of various related info --}}
    <section class="sheet-body">
        {{!-- Skills tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "systems/metzmatan/templates/actor/parts/actor-skills.hbs"}}
        </div>

        {{!-- Features tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            {{> "systems/metzmatan/templates/actor/parts/actor-features.hbs"}}
        </div>

        {{!-- Items (gear, equipment) tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/metzmatan/templates/actor/parts/actor-items.hbs"}}
        </div>

        {{!-- Spells tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/metzmatan/templates/actor/parts/actor-spells.hbs"}}
        </div>

        {{!-- Effects tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/metzmatan/templates/generic/parts/effects.hbs"}}
        </div>

        {{!-- Misc tab --}}
        {{!-- <div class="tab misc-sheet" data-group="primary" data-tab="misc-sheet">
            {{> "systems/metzmatan/templates/actor/parts/actor-misc-sheet.hbs"}}
        </div> --}}
    </section>
</form>
