{{!-- AP, AB, and Slot --}}
<div class="grid grid-3col">
    <div class="resource flexrow flex-group-center">
        <label for="system.resources.ap.value" class="resource-label">{{localize "ATTRIBUTES.ap"}}</label>
        <div class="resource-content flexrow flex-center flex-between align-vertical-center">
            <input type="text" name="system.resources.ap.value" value="{{system.resources.ap.value}}"
                data-dtype="Number" />
            <span> / </span>
            {{!-- <span class="resource-max">{{numberFormat system.resources.ap.max decimals=0 sign=false}}</span> --}}
            <input type="text" name="system.resources.ap.max" value="{{system.resources.ap.max}}" data-dtype="Number" />
        </div>
    </div>

    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.armorBonus" class="resource-label">{{localize "ATTRIBUTES.armorBonus"}}</label>
        <input type="text" name="system.attributes.armorBonus" value="{{system.attributes.armorBonus}}"
            data-dtype="Number" />
    </div>

    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.slot" class="resource-label">{{localize "ITEMS.armor.slot"}}</label>
        <span class="attribute-value">{{system.attributes.slot}}</span>
    </div>
</div>

{{!-- isActive, isBroken --}}
<div class="attributes grid grid-3col">
    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.isActive" class="resource-label">{{localize "ITEMS.armor.isActive"}}</label>
        <input type="checkbox" name="system.attributes.isActive" {{checked system.attributes.isActive}} data-dtype="Boolean" />
    </div>

    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.isBroken" class="resource-label">{{localize "ITEMS.armor.isBroken"}}</label>
        <input type="checkbox" name="system.attributes.isBroken" {{checked system.attributes.isBroken}} disabled="disabled" data-dtype="Boolean" />
    </div>
</div>

{{!-- Hardness, DR, etc. --}}
<div class="attributes grid grid-3col">
    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.hardness" class="resource-label">{{localize "ATTRIBUTES.hardness"}}</label>
        <input type="text" name="system.attributes.hardness" value="{{system.attributes.hardness}}" data-dtype="Number" />
    </div>
    <div class="attribute flexrow flex-group-center">
        <label for="system.attributes.damageResistance" class="resource-label">{{localize "ATTRIBUTES.damageResistance"}}</label>
        <input type="text" name="system.attributes.damageResistance" value="{{system.attributes.damageResistance}}" data-dtype="Number" />
    </div>
</div>
