<header class="sheet-header align-top flexshrink">
    <div class="header-fields">
        <div class="grid grid-2col grid-2min1 align-vertical-center">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'PLACEHOLDERS.itemName'}}"></h1>
        </div>
        <div class="grid grid-2col grid-2min1 align-vertical-center">
            <span class="realm-label"><i>{{system.magicClass}}: {{system.realm}}</i></span>
            <i><div class="prereq-label grid grid-2col grid-2min1 align-vertical-center"><span class="realm-label"><i> - </i></span><input name="prerequisites" type="text" value="{{system.prerequisites}}" placeholder="{{localize 'PLACEHOLDERS.prerequisites'}}"></div></i>
        </div>
    </div>
</header>
